@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
  font-family: "Bonello-Regular";
  src: url("../fonts/Bonello/Bonello-Regular.eot");
  src: url("../fonts/Bonello/Bonello-Regular.woff") format("woff");
  src: url("../fonts/Bonello/Bonello-Regular.woff2") format("woff2");
  }

body {
  margin: 0;
  color:#fff !important;
  font-family:'Open Sans';
  font-weight: 300;
}

.nav-link {
  color:#fff !important;
}

.title {
  font-family: 'Bonello-Regular', Arial;
}

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: right;
}

li {
  float: right;
}

#about-div,
#projects-div {
  height: 100vh;
}

/* Home */
#landing-div{
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
}

#landing-page-title {
    color: #fff;
    font-size: 6.5rem;
    padding-bottom: 250px;
}

/* About */
#profile-photo {
  height: 500px;
  width: 400px;
  transform: rotate(-90deg);
}

.about-title {
  position: absolute;
  z-index: 2;
  top: 400px;
  left: 120px;
  
}

.about-title h1 {
  font-size: 5rem;
}

/* Projects */
#showcase-photo {
  height: auto !important;
  width: 100% !important;
}

#showcase-description {
  background-color: #156064;
  padding: 10px;
  text-align: right;
}

.card {
  background-color: #00c49a;
  border: 2px solid #EDA2F2;
  color: white;
}

.card-header {
  border-bottom: none;
}

.card-header ul li a {
  color: #EDA2F2;
}

/* Footer */
#social-links {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 10;
  color: #fff;;
}

#social-links ul {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#social-links ul li a {
  padding: 10px;
}

#social-links ul::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: #fff;;
}

i {
  color: #fff;
}

/* .social-links i:hover {
  color: #ee9061;
} */

footer p {
  text-align: center;
  font-size: 75%;
  color: inherit;
  padding: 0;
  margin: 0 auto;
}

/* Media Queries */

@media only screen and (max-width: 425px) {
  #landing-page-title {
    font-size: 3rem;
  }
}

@media screen and (max-width: 768px) and (min-width: 425px){
  #showcase-div {
    position: absolute;
    float: right;
    left: 350px;
    top: 160px;
  }

  #showcase-title {
    position: absolute;
    left: 220px;
    white-space: nowrap;
  }

  #showcase-description {
    width: 375px;
    height: 100px;
    position: absolute;
    top: 40px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 425px){
  #landing-page-title {
    font-size: 5rem;
  }
}

@media screen and (min-width: 1024px){
  .card {
    width: 18rem !important;
  }
}

/* @media only screen and (max-width: 1024px) {
  
} */

