@font-face {
  font-family: "Bonello-Regular";
  src: url("../fonts/Bonello/Bonello-Regular.eot");
  src: url("../fonts/Bonello/Bonello-Regular.woff") format("woff");
  src: url("../fonts/Bonello/Bonello-Regular.woff2") format("woff2");
  }

nav.navbar.navbar-expand-md {
  background-color: #fec601 !important;
}

.nav-link {
  color:#fff !important;
}

.title {
  font-family: 'Bonello-Regular', Arial;
}

#landing-page-title {
    color: #fff;
    text-align: center;
    font-size: 6.5rem;
    padding-top: 250px;
}

#landing-div {
  background-color: #fec601;
  height: 900px;
}

#profile-photo {
  height: 500px;
  width: 400px;
}